body {
	background-color: #0d2235;
}
img {
	max-width: 100%;
}

h1 {
	color: white;
	text-align: left;
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 50px;
	margin-top: 80px;
}
h1::after {
	content: '';
	width: 100px;
	height: 6px;
	background-color: #66a2fe;
	display: block;
}
.container img {
	margin-top: 150px;
}

label {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	margin-top: 2rem;
}
input[type='submit'] {
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	height: auto;
}
.error {
	background-color: #b7322c;
	border-radius: 4px;
	padding: 1rem;
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.resultado {
	color: white;
}
.resultado h2 {
	font-weight: bold;
	color: white;
}

.resultado p {
	font-size: 18px !important;
}
.resultado p span {
	font-weight: bold;
}
p.precio {
	font-size: 30px !important;
}

@media (min-width: 480px) {
	form {
		margin-top: 150px;
	}
}

.sk-cube-grid {
	width: 60px;
	height: 60px;
	margin: 100px auto;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: rgb(250, 250, 250);
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%,
	70%,
	100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}
	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}
